In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("house_data.csv")

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.shape

(21613, 21)

In [19]:
x=df.iloc[:,3:].values
y=df.iloc[:,2:3].values

In [20]:
x.shape

(21613, 18)

In [21]:

y.shape

(21613, 1)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
regressor=LinearRegression()

In [26]:
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
y_pred=regressor.predict(x_test)

In [28]:
prediction=pd.DataFrame({'actual':list(y_test),'prediction':list(y_pred)})

In [29]:
prediction

           actual            prediction
0      [297000.0]   [384885.9885008116]
1     [1578000.0]  [1522091.6863122513]
2      [562100.0]   [541596.4453981933]
3      [631500.0]   [580439.9639675547]
4      [780000.0]    [974104.531553526]
5      [485000.0]   [374062.2956948099]
6      [340000.0]  [400727.78307968425]
7      [335606.0]     [376931.96637255]
8      [425000.0]   [568224.3050456275]
9      [490000.0]  [1204020.7802691278]
10     [732000.0]    [717594.798352458]
11     [389700.0]   [364337.7415896286]
12     [450000.0]  [382670.08096206235]
13     [357000.0]  [293223.22651713016]
14     [960000.0]   [849151.3260768806]
15     [257000.0]   [389948.5917822947]
16     [448000.0]   [340549.6749570188]
17     [610000.0]   [668488.1919412394]
18     [230950.0]   [340019.8443943192]
19     [377500.0]   [557255.8886617688]
20     [375000.0]   [346914.6434029606]
21     [410000.0]  [389116.57546834694]
22     [459000.0]   [620157.8567696293]
23     [190000.0]  [185270.83549716743]
24     [585000.0]   [602799.8864302565]
25     [280000.0]   [287562.1980317314]
26     [500000.0]  [457368.20260016294]
27     [465000.0]   [655665.0474854303]
28     [802000.0]   [893265.0675108773]
29     [440000.0]  [496359.29140334995]
...           ...                   ...
6454   [980000.0]   [879351.7479897258]
6455   [520000.0]     [554494.92468679]
6456   [325000.0]   [568613.1565869902]
6457   [770000.0]  [456719.51058541285]
6458   [995000.0]  [1495568.6003732611]
6459   [465750.0]    [693184.291390751]
6460   [575000.0]   [502576.4440816161]
6461   [425000.0]  [423197.44863020675]
6462   [398500.0]   [543758.9824377676]
6463   [270500.0]  [254393.11906313943]
6464   [310000.0]   [280368.7335140449]
6465   [190000.0]  [197239.03388013365]
6466   [492000.0]   [618923.3889894825]
6467   [235000.0]  [256835.13099020394]
6468   [765000.0]     [973831.61457336]
6469   [530000.0]   [523674.0587385413]
6470   [525000.0]   [737785.8279124093]
6471   [226000.0]  [356077.60629995586]
6472   [624000.0]   [620921.1321042259]
6473   [500000.0]  [521483.21475387784]
6474   [467500.0]   [507021.4679058646]
6475   [203000.0]  [199197.45191352116]
6476   [446000.0]  [443184.11061257916]
6477   [206000.0]  [200955.44689989882]
6478   [529000.0]   [643179.9691203837]
6479  [1100000.0]   [494244.1602373128]
6480   [700000.0]    [539792.613235556]
6481   [380000.0]  [320303.71125792013]
6482   [268000.0]   [224536.9064465207]
6483   [206000.0]  [140903.44896066235]

[6484 rows x 2 columns]

In [30]:
from sklearn.metrics import accuracy_score

In [33]:
regressor.score(x_test,y_test)

0.6877902899299244

In [ ]:
r